.autoCompleteInput {
    padding-bottom: .5em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--grey);
    color: var(--grey);
    width: 100%;

    &::placeholder {
        color: var(--grey);
    }
}