.holder {
    width: 100%;
    display: flex;
    justify-content: center;
    a {
        background-color: var(--green);
        color: var(--white);
        padding: 1em;
        width: 50vw;
        text-align: center;
    }
}

.border {
    border-bottom: 0.15em solid var(--white);
}
