.scroll {
    overflow-y: auto;
    height: 85vh;
<<<<<<< HEAD
    padding-top: 3vh;
=======

    div:first-of-type {
        margin-top: 2em;
    }
>>>>>>> main
}

.image {
    position: relative;
    width: 70vw;
    height: 70vw;
    margin: auto;
<<<<<<< HEAD
    &:not(:last-of-type) {
        margin-bottom: 3vh;
    }
=======
    margin-top: 20px;
>>>>>>> main
}
