.scroll {
    overflow-y: auto;
    height: 85vh;

    div:first-of-type {
        margin-top: 2em;
    }
}

.image {
    position: relative;
    width: 70vw;
    height: 70vw;
    margin: auto;
    margin-top: 20px;
}
