.topHolder {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: var(--bg);

    & > label {
        width: 80%;
        margin: 0 10%;
    }
}

.scroll {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding-top: 20vh;
    margin-bottom: 5vh;
}

.image {
    width: 70vw;
    height: 70vw;
    &:not(:last-of-type) {
        margin-bottom: 3vh;
    }
}
