.pageWrapper {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.contentWrapper {
    padding: 4.375rem 0 9.125rem 0;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;

    padding: 0 7%;

    &-justifyEnd {
        display: flex;
        justify-content: flex-end;

        padding: 0 7%;
    }
}