.contentWrapper {
    padding: 4.375rem 7%;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;

    &-justifyEnd {
        display: flex;
        justify-content: flex-end;
    }
}