.addButton {
    width: 2em;
    height: 2em;
    display: block;
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    padding: 0.6em;
    text-align: center;
    border-radius: 50%;
    font-size: 2em;
    color: white;
    background-color: var(--grey);
}
