.contentHolder {
    display: flex;
    flex-direction: column;

    height: 100%;

    .formWrapper {
        padding: 3vh 1.625em 0 1.625em;
        flex-grow: 1;
        position: relative;

        .imageHolder {
            position: relative;

            .image {
                width: 100%;
                height: 100%;
            }

            .emojiButton {
                position: absolute;
                top: 0;
                right: 0;
                background-color: transparent;
                border: none;
                padding: 1em;

                .icon {
                    color: var(--green);
                }
            }

            .kudoText {
                position: absolute;
                width: 65vw;
                height: 40vw;
                left: 12.5vw;
                top: 23vw;
                line-height: 6.3vw;
                background-color: transparent;
                border: none;

                &::placeholder {
                    color: var(--grey);
                }
            }

            .tags {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 80%;
                margin-left: 10%;
                margin-bottom: 2vh;
                height: 5vh;
            }
        }

        .to {
            margin: 7vh 10% 0 10%;
    
            label {
                display: block;
                color: var(--grey);
                margin-right: 3%;
                font-size: 1.5em;
            }
    
            div {
                margin-top: 0.375em;
                flex-grow: 1;
            }
        }
    }
}

.buttonHolder {
    width: 100%;
    display: flex;
    border-top: 0.15em solid var(--grey);
    height: 8vh;
    align-items: center;
    a {
        width: 50%;
        padding: 1em;
        text-align: center;
        color: var(--green);
        font-weight: bold;
    }
}

.canvas {
    display: none;
}
