@mixin input-wrapper($color) {
    position: relative;

    input {
        padding-bottom: 0.5em;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $color;
        color: $color;
        width: 100%;

        &::placeholder {
            color: $color;
        }
    }

    span {
        position: absolute;
        left: 0;
        top: 100%;

        font-size: 0.75em;
        color: var(--error);
    }
}

.inputWrapper {
    @include input-wrapper(var(--grey));

    &-error {
        @include input-wrapper(var(--error));
    }
}
